@use 'vars';
@use 'mixins';

// Glue footer to the bottom
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.footer {
  margin-top: auto;
}
// END/ Glue footer to the bottom

h1 {
  font-size: 3rem;
}

body {
  //@include sf(400);
  font-size: 1rem; // 16px
  color: $default;
  display: flex;
  flex-direction: column;
}

// === GLOBAL CLASSES ===

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 0.9375rem; // 0 15px
}
