@use 'vars' as *;
@use 'mixins' as *;

body {
  //@include sf(400);
  font-size: 1rem; // 16px
  color: $default;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 0.9375rem; // 0 15px
}
